<app-header></app-header>
<div class="content">
    <div class="create-buttons">
        <button class="newagent">New Agent</button>
        <button class="newproperty">New Property</button>
    </div>
    @if (propertiesWithAgents$ | async; as properties) {
        @if (properties.length > 0) {
            @for (prop of properties; track $index) {
                <p>ID: {{ prop.id }}</p>
                <p>Address: {{ prop.address }}</p>
                <p>Price: {{ prop.price }}</p>
                <p>Agent Id: {{ prop.agentId }}</p>
                <p>Agent Name: {{ prop.agentName }}</p>
            }
        } @else {
            <p>No properties found!</p>
        }
    }
</div>
